.banner-toys{
	margin-bottom: 156px;
	&--bottom{
		.banner-toys__item{
			justify-content: flex-end;
			padding-left: 150px;
		}
		.banner-toys__txt{
			max-width: 395px;
		}
		.banner-toys__img{
			position: absolute;
			top: 50%;
			left: -189px;
			transform: translate(0,-50%);
			max-width: 524px;
		}
	}
	&__body{
		background-color: #31C9C9;

	}
	&__item{
		display: flex;
		align-items: center;
		padding: 88px 80px;
		position: relative;
	}
	&__txt{
		max-width: 658px;
	}
	&__title{
		font-family: $font1;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 12px;
	}
	&__subtitle{
		font-family: $font1;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 12px;
	}
	&__img{
		position: absolute;
		top: 50%;
		right: -166px;
		transform: translate(0,-50%);
	}
	.btn-toys{
		margin-left: auto;
		margin-right: 0;
		display: block;
		width: fit-content;
		padding-left: 30px;
		padding-right: 30px;
	}
	@include r(767){
		&--bottom{
			.banner-toys__title{
				margin-bottom: 24px;
			}
			.banner-toys__subtitle{
				margin-bottom: 24px;
			}
			.banner-toys__item{
				justify-content: flex-end;
				padding-left: 40px;
				text-align: left;
			}
			.banner-toys__txt{
				max-width: 100%;
			}
			.banner-toys__img{
				position: absolute;
				top: auto;
				bottom: -100px;
				left:auto;
				right: 0;
				transform: translate(0,0);
				max-width: 100%;
				img{
					width: 300px;
				}
			}
		}
		&__item{
			justify-content: center;
			text-align: center;
			padding: 40px;
		}
		&__img{
			position: absolute;
			top: auto;
			bottom: -60px;
			right: 40px;
			transform: translate(0,0);
			img{
				max-width: 150px;
			}
		}
		.btn-toys{
			margin-right: auto;
			margin-left: 0;
			margin-top: 30px;
		}
	}
}