.gender-toys{
	margin-bottom: 156px;
	&__body{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item{
		background-color: #78AFE2;
		position: relative;
		height: 236px;
		width: 406px;
		margin-bottom: 182px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 40px;
		&:last-child{
			margin: 0;
		}
		&--boys{
			background-color: #DCA824;
		}
		&--baby{
			width: 100%;
			max-width: 690px;
			justify-content: flex-start;
			padding-left: 83px;
			background-color: #AB4A9C;
			margin-left: 100px;
			.gender-toys__img{
				position: relative;
				order: 2;
				left: 0;
				top: -100px;
			}
			.btn-toys{
				bottom: 50% !important;
				transform: translate(60px,50%);
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: -128px;
				background-image: url("../img/ball.png");
				width: 205px;
				height: 325px;
				z-index: 1;
			}
			&:after{
				content: '';
				position: absolute;
				top: -92px;
				left: -282px;
				background-image: url("../img/cloud-4.png");
				width: 406px;
				height: 223px;
				z-index: 0;
			}
		}
	}
	&__img{
		position: absolute;
		bottom: 0;
		left: -175px;
		img{
			display: block;
		}
	}
	h3{
		font-family: $font1;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0;
	}
	.btn-toys{
		position: absolute;
		bottom: -34px;
		right: -20px;
		padding: 19px 23px;
		font-weight: 400;
	}


}