.gender-toys{
	&__body{}
	&__item{
		background-color: #78AFE2;
		position: relative;
		height: 236px;
		width: 406px;
		margin-left: 75px;
	}
	&__img{
		position: absolute;
		bottom: 0;
		left: -175px;
		img{
			display: block;
		}
	}
	h3{
		font-family: $font1;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0;
	}
	.btn{
		position: absolute;
		bottom: -34px;
		right: -20px;
	}
}