@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/RobotoSlab/RobotoSlab-Bold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/RobotoSlab/RobotoSlab-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/RobotoSlab/RobotoSlab-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/RobotoSlab/RobotoSlab-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/RobotoSlab/RobotoSlab-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/RobotoSlab/RobotoSlab-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'RobotoMono';
	src: url('../fonts/RobotoMono/RobotoMono-Bold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/RobotoMono/RobotoMono-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/RobotoMono/RobotoMono-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'RobotoMono';
	src: url('../fonts/RobotoMono/RobotoMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/RobotoMono/RobotoMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
	url('../fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}



$font1: 'RobotoSlab', sans-serif;
$font2: 'RobotoMono', serif;