@import "./mixin";
@import "./fonts";

body{
	background-image: url("../img/bg.png");
}
.main{
	margin-top: -40px;
	position: relative;
}
.main.container{
	max-width: 1116px;
}
.breadcrumb{
	display: none;
}
.footer{
	margin-top: 0;
}
.title-toys{
	font-family: $font1;
	font-weight: 700;
	font-size: 48px;
	line-height: 63px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0 0 14px;
}
.subtitle-toys{
	font-family: $font1;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
}

.btn {
	font-family: $font2;
	display: inline-block;
	padding: 19px 62px;
	outline: none;
	border: none;
	border-radius: 50px;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	text-decoration: none;

	cursor: pointer;
	&.btn-primary{
		color: #fff;
		background-color: #AB4A9C;
		box-shadow: 0 7px #872774;
		&:hover {
			background-color: #872774;
			color: #fff;
		}
		&:active {
			background-color: #872774 !important;
		}
		&:focus-visible {
			box-shadow: 0 0 0 3px #872774;
		}
		&:disabled {
			background-color: #872774;
			pointer-events: none;
		}
	}
	&.btn-secondary{
		color: #fff;
		background-color: #84BB0F;
		box-shadow: 0 7px #69940E;
		&:hover {
			background-color: #84BB0F;
			color: #fff;
		}
		&:active {
			background-color: #69940E !important;
		}
		&:focus-visible {
			box-shadow: 0 0 0 3px #69940E;
		}
		&:disabled {
			background-color: #69940E;
			pointer-events: none;
		}
	}
}

@include r(767){

}

@import "componets/header-toys";
@import "componets/gender-toys";